body {
    background-color: rgb(14, 13, 13);
}

h1 {
    color: rgb(233, 219, 219);
    font-size: 4em;

}

.intro{
    color: azure;
    font-size: 2em;
}

.input-container{
    display: flex;
    flex-direction: row;
    padding: 0.3 em;
    margin: 0.3em;
    height: 5vh;
    width: 7vw;
    background-color: aqua;
    opacity: 1;
    
}
.button{
    width: 10vw;
    height: 5vh;
    text-overflow:ellipsis;
    background-color: aqua;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
}
.results-text{
    opacity: 0;
    background-color: aqua;
    width: 20vw;
    height: 20vh;
    font-size: 4vh;
    text-decoration: rgb(243, 238, 238);
}
